
body
{
	padding: 10px;
	font-family: arial, verdana, sans-serif;
}
h1
{
	text-align: center;
}
form
{
	background-image: url("image2.jpg");
	margin: auto;
	width: 50%;

}
input[type="text"]
{
	width: 100%;
	height: 30px;
}
.btn
{
	width: 100px;
	height: 40px;
	background-color: #DCDCDC;
}